<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
            name="jdbc/OikoNaosDB"
            auth="Container"
            type="javax.sql.DataSource"
            factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
            driverClassName="com.mysql.cj.jdbc.Driver"
            url="jdbc:mysql://localhost:3306/oikonaos?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=Europe/Rome"
            username="oiko"
            password="oiko1234!"
            initialSize="2"
            maxTotal="20"
            maxIdle="10"
            minIdle="2"
            testOnBorrow="true"
            validationQuery="SELECT 1" />
</Context>
